body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
.header button {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 2.5vw;
  width: 25vw;
  height: 8vh;
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
}

.character {
  background-color: blue;
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character img {
  width: 30vw;
  height: 30vw;
}

.stats_about {
  background-color: red;
  width: 50vw;
  height: 90vh;
}

.app_header {
  display: flex;
  justify-content: space-around;
}

.app_header button {
  width: 25vw;
  height: 5vh;
  font-size: 3vh;
}

.stats {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.stats div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  text-align: center;
  height: 15vh;
}

.skills {
  height: 5vh;
  display: flex;
}

.skills button {
  width: 12.5vw;
  height: 5vh;
  font-size: 3vh;
}

.ppl_header {
  display: flex;
  justify-content: space-around;
}

.ppl_picker {
  display: flex;
  justify-content: space-around;
}