body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.sign {
  margin-left: 1vw;
  margin-right: 1vw;
}

.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
}

.character {
  background-color: blue;
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character img {
  width: 30vw;
  height: 30vw;
}

.stats_about {
  background-color: red;
  width: 50vw;
  height: 90vh;
}
